<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="SqlDbContext"
		 connectionString="data source=ACER;initial catalog=Test_webdt;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" 
		 providerName="System.Data.SqlClient" />

</connectionStrings>
